@model IEnumerable<EducationCenterCRM.MVC.Models.StudentModel>

@{
    ViewData["Title"] = "List of students";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Add student</a>
</p>
@await Html.PartialAsync("~/Views/Students/_StudentsList.cshtml", Model)

