@model IEnumerable<EducationCenterCRM.MVC.Models.StudentModel>

@{
    ViewData["Title"] = "List of students";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@await Html.PartialAsync("~/Views/Students/_StudentsList.cshtml", Model)

