@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Education Center CRM Application</h1>
</div>
    <div class="accordion">
        <ul>
            <li>
                <h2><a class="nav-link text-dark" asp-controller="Courses" asp-action="Index">Courses</a></h2>
            </li>
            <li>
                <h2><a class="nav-link text-dark" asp-controller="StudentRequests" asp-action="Index">Requests</a></h2>
            </li>
            <li>
                <h2><a class="nav-link text-dark" asp-controller="Students" asp-action="Index">Students</a></h2>
            </li>
            <li>
                <h2><a class="nav-link text-dark" asp-controller="Teachers" asp-action="Index">Teachers</a></h2>
            </li>
            <li>
                <h2><a class="nav-link text-dark" asp-controller="StudentGroups" asp-action="Index">Groups</a></h2>
            </li>
            <li>
                <h2><a class="nav-link text-dark" asp-controller="Lessons" asp-action="Index">Lessons</a></h2>
            </li>
        </ul>
    </div>
